In [1]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.2     ✔ tibble    3.2.1
✔ lubridate 1.9.4     ✔ tidyr     1.3.1
✔ purrr     1.0.4
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [3]:
students = tibble(id = 1:5,
                  name = c("Ann", "Ben", "Cathy", "Dan", "Eva"),
                  math = c(78, 92, 85, 66, 88),
                  english = c(70, 85, 90, 75, 80),
                  passed = c(TRUE, TRUE, TRUE, FALSE, TRUE))

In [7]:
students %>% group_by(passed) %>% summarise(avg_math = mean(math),
                                            avg_eng = mean(english),
                                            count = n())

  passed avg_math avg_eng count
1 FALSE  66.00    75.00   1
2  TRUE  85.75    81.25   4

In [31]:
students %>% 
mutate(level = ifelse(math > 85, 'high', 'low')) %>% 
group_by(passed, level) %>% 
summarise(count = n(), .groups = 'drop')

  passed level count
1 FALSE  low   1
2  TRUE  high  2
3  TRUE  low   2

In [37]:
students %>%
mutate(avg_score = (math + english)/2, 
       grade = ifelse(avg_score > 85, 'A', ifelse(avg_score > 80, 'B', 'C'))) %>%
group_by(grade) %>%
summarise(avg_math = mean(math),
          avg_english = mean(english),
          count = n()) %>%
arrange(desc(grade))

  grade avg_math avg_english count
1 C     72.0     72.5        2
2 B     88.0     80.0        1
3 A     88.5     87.5        2