In [1]:
x = 10
y = 5

print(x)
print(y)

[1] 10
[1] 5

In [7]:
scores = c(85, 70, 95, 55)
names = c("Alice", "Bob", "Cindy", "David")
passed = c(TRUE, TRUE, TRUE, FALSE)

print(scores)
print(names)
print(passed)

[1] 85 70 95 55
[1] "Alice" "Bob"   "Cindy" "David"
[1]  TRUE  TRUE  TRUE FALSE

In [11]:
length(scores)
class(scores)
summary(scores)

[1] 4

[1] "numeric"

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  55.00   66.25   77.50   76.25   87.50   95.00

In [33]:
#Exercise
age = c(23, 25, 19, 31, 28) 
name = c("Ann", "Ben", "Carl", "Dora", "Eric") 

length(age) #Expected: 5
class(name) #Expected: strings or something like that
summary(age) #Expected: min 19, 1st Qu. ,? Median 25, Mean 25.2, 3rd Qu. ?, Max 31

[1] 5

[1] "character"

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
   19.0    23.0    25.0    25.2    28.0    31.0

In [15]:
my_list = list(name = "Jason",
               age = 22,
               scores = c(90, 95, 100),
               passed = TRUE)

In [47]:
my_list$name
my_list[['scores']]
my_list['age']

[1] "Jason"

[1]  90  95 100

$age
[1] 22

In [35]:
students = data.frame(id = 1:3,
                      name = c("Alice", "Ben", "Carol"),
                      score = c(90, 85, 80),
                      passed = c(TRUE, TRUE, FALSE))

In [43]:
head(students)    
str(students)      
summary(students)

  id name  score passed
1 1  Alice 90     TRUE
2 2  Ben   85     TRUE
3 3  Carol 80    FALSE

'data.frame':	3 obs. of  4 variables:
 $ id    : int  1 2 3
 $ name  : chr  "Alice" "Ben" "Carol"
 $ score : num  90 85 80
 $ passed: logi  TRUE TRUE FALSE

       id          name               score        passed
 Min.   :1.0   Length:3           Min.   :80.0   Mode :logical
 1st Qu.:1.5   Class :character   1st Qu.:82.5   FALSE:1
 Median :2.0   Mode  :character   Median :85.0   TRUE :2
 Mean   :2.0                      Mean   :85.0
 3rd Qu.:2.5                      3rd Qu.:87.5
 Max.   :3.0                      Max.   :90.0

In [49]:
# Exercising List
user = list(name = "Ann",
            age = 24,
            likes = c("Data", "Hiking", "Coffee"))

user$name #Expected: 'Ann'      
user[["likes"]] # Expected: 'Data' 'Hiking' 'Coffee'
user["age"] #Expected: $age = 24      

# Exercising DataFrame
grades = data.frame(student = c("A", "B", "C", "D"),
                    math = c(90, 85, 78, 92),
                    passed = c(TRUE, TRUE, FALSE, TRUE))

# How do I type those thing???
head(grades) 
str(grades)
summary(grades)

[1] "Ann"

[1] "Data"   "Hiking" "Coffee"

$age
[1] 24

  student math passed
1 A       90    TRUE
2 B       85    TRUE
3 C       78   FALSE
4 D       92    TRUE

'data.frame':	4 obs. of  3 variables:
 $ student: chr  "A" "B" "C" "D"
 $ math   : num  90 85 78 92
 $ passed : logi  TRUE TRUE FALSE TRUE

   student               math         passed
 Length:4           Min.   :78.00   Mode :logical
 Class :character   1st Qu.:83.25   FALSE:1
 Mode  :character   Median :87.50   TRUE :3
                    Mean   :86.25
                    3rd Qu.:90.50
                    Max.   :92.00

In [53]:
students$name

students[["score"]]

students[1, ]

students[, 2]

students[, "passed"]

students[, c("name", "score")]

[1] "Alice" "Ben"   "Carol"

[1] 90 85 80

  id name  score passed
1 1  Alice 90    TRUE

[1] "Alice" "Ben"   "Carol"

[1]  TRUE  TRUE FALSE

  name  score
1 Alice 90
2 Ben   85
3 Carol 80

In [57]:
students[students$score > 85, ]

students[students$score > 85 & students$passed == TRUE, ]

students[students$score > 90 | students$passed == FALSE, ]

  id name  score passed
1 1  Alice 90    TRUE

  id name  score passed
1 1  Alice 90    TRUE

  id name  score passed
3 3  Carol 80    FALSE

In [91]:
students = data.frame(id = 1:5,
                      name = c("Ann", "Ben", "Cathy", "Dan", "Eva"),
                      math = c(78, 92, 85, 66, 88),
                      passed = c(TRUE, TRUE, TRUE, FALSE, TRUE))

# Exercise
# 1. Show student data with scores > 80
# 2. Show only 'name' and 'passed'
# 3. Show student data with scores between 80 and 90

students[students$math > 80,]

students[, c('name', 'passed')]

students[80 < students$math & students$math < 90,]

  id name  math passed
2 2  Ben   92   TRUE
3 3  Cathy 85   TRUE
5 5  Eva   88   TRUE

  name  passed
1 Ann    TRUE
2 Ben    TRUE
3 Cathy  TRUE
4 Dan   FALSE
5 Eva    TRUE

  id name  math passed
3 3  Cathy 85   TRUE
5 5  Eva   88   TRUE